* {
  margin: 0;
  padding: 0;
}
@keyframes anim {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes zoom {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f0;
  &-content {
    width: 400px;
    height: 350px;
    position: relative;
    z-index: 0;
    &:hover .sunny {
      opacity: 1;
      top: -30px;
      left: -30px;
      animation: anim 0.5s ease, rotate 2s linear infinite 1s;
    }
    &:hover .happy {
      opacity: 1;
      bottom: -30px;
      right: -30px;
      animation: anim 0.5s ease, rotate 2s linear infinite 1s;
    }
    &:hover .earth {
      opacity: 1;
      top: -30px;
      right: -30px;
      animation: anim 0.5s ease, rotate 2s linear infinite 1s;
    }
    &:hover .heart {
      opacity: 1;
      bottom: -30px;
      left: -30px;
      animation: anim 0.5s ease, rotate 2s linear infinite 1s;
    }
    &:hover .content {
      animation: zoom 0.5s ease;
      transform: scale(1);
    }
    &:hover .img-container img.main-img {
      transform: rotate(10deg) scale(1.2);
    }
    &:hover .hover-container {
      top: -275px;
      left: 443px;
    }
    .img-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
      }
    }
    .content {
      position: absolute;
      width: 80%;
      height: 80%;
      top: 10%;
      left: 10%;
      background-color: rgba(255, 255, 255, 0.6);
      transform: scale(0);
      transition: all 0.5s ease;
      &-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .project {
          text-align: center;
          font: {
            family: Sans-Serif;
          }
          .icons {
            margin-top: 20px;
            i.fa {
              margin: 0 10px;
              transition: all 0.5s ease;
              font: {
                size: 18px;
              }
              &:hover {
                transform: rotateY(180deg);
              }
            }
          }
        }
      }
    }
    .sunny,
    .happy,
    .earth,
    .heart {
      height: 30px;
      width: 30px;
      position: absolute;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: -1;
    }
    .sunny {
      top: 0;
      left: 0;
    }
    .happy {
      bottom: 0;
      right: 0;
    }
    .earth {
      top: 0;
      right: 0;
    }
    .heart {
      bottom: 0;
      left: 0;
    }
    .hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      &-container {
        position: absolute;
        top: 53px;
        left: -80px;
        width: 100px;
        height: 170%;
        transform: rotate(-45deg);
        background-color: rgba($color: #fff, $alpha: 0.7);
        transition: all 0.4s ease;
      }
    }
  }
}
